.intro__paragraph {
  font-size: 14px;
  line-height: 24px;
  max-width: 683px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .intro__paragraph {
    margin-top: 14px;
    max-width: 720px; 
  }
}

@media (max-width: 480px) {
  .intro__paragraph {
  margin-top: 39px; 
  max-width: 350px;
  }
}
@media (max-width: 375px) {
  .intro__paragraph {
    font-size: 16px;
    line-height: 27px;
    max-width: 343px;
    margin-top: 30px;
  }
}

@media (max-width: 320px) {
  .intro__paragraph {
    max-width: 288px;
    margin-top: 35px;
  }
}