.intro__title {
  margin: 94px auto 34px;
  font-size: 54px;
  font-weight: 900;
  line-height: 59px;
  margin-left: 0;
  max-width: 929px;
}

@media (max-width: 768px) {
  .intro__title {
    max-width: 720px;
    margin-top: 75px;
    margin-top: 84px;
  }
} 

@media (max-width: 600) {
  .intro__title{
   font-size: 45px;
   line-height: 50px;
   margin-top: 0;
  }
}

@media (max-width: 375px) {
  .intro__title {
  font-size: 32px;
  line-height: 35px;
  max-width: 250px;
  margin-top: 60px;
  margin-bottom: 4px;
  }
}