@import url('./__items/photo-grid__items.css');
.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1184px;
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    width: 92%;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 94%
  }
}

@media (max-width: 375px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 16px;
    max-width: 343px;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    grid-row-gap: 8px;
  }
}

