.place__web {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .place__web {
    margin-left: 4%;
  }
}

@media (max-width: 980px) {
  .place__web {
    margin-left: 12%;
  }
}

@media (max-width: 768px) {
  .place__web {
    margin-left: 6%;
  }
}

 @media (max-width: 600px) {
   .place__web {
     display: none;
   }
 }