
.video-card_theme_observatory {
  background: url('../../../../images/video/2video.jpg')  rgba(0, 0, 0, .5);
  background-blend-mode: color;
  background-size: cover;
}


.video-card_theme_observatory:hover {
  background: url('../../../../images/video/2video.jpg')  rgba(0, 0, 0, .8);
  background-blend-mode: color;
  background-size: cover;
}

