.video-card_theme_kamchatka {
  background: url('../../../../images/video/1video.jpg') rgba(0, 0, 0, .5);
  background-blend-mode: color;
  background-size: cover;
}

.video-card_theme_kamchatka:hover {
  background: url('../../../../images/video/1video.jpg') rgba(0, 0, 0, .8);
  background-blend-mode: color;
  background-size: cover;
}

