.lead__picture {
  max-width: 984px;
  height: 554px;
}

@media (max-width: 1024px) {
  .lead__picture {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .lead__picture {
    max-height: 420px;
  }
}

@media (max-width: 700px) {
  .lead__picture {
    height: auto;
  }
}

@media (max-width: 375px) {
  .lead__picture {
    height: 211px;
  }
}
