.content-title_offset {
    margin: 0 auto 30px;
  }

@media (max-width: 768px) {
  .content-title_offset {
    margin: 33px auto 26px;
    }
  }


@media (max-width: 375px) {
  .content-title_offset{
    margin-top: 54px;
    margin-bottom: 5px;
  }
}
