.footer_offset {
  margin: 150px auto 48px;
}

@media (max-width: 768px) {
  .footer_offset {
    margin-bottom: 26px;
    margin-top: 100px;
  }
}

@media (max-widht: 720px) {
  .footer_offset {
    margin-left: 0;
  }
}

@media (max-width: 375px) {
  .footer_offset {
    margin-top: 54px;
  }
}
