@import url('./__author/comment__author.css');
@import url('./__image/comment__image.css');
@import url('./__quote/comment__quote.css');
.comment {
  flex-direction: column;
  justify-content: flex-start;
  max-width: 382px;
  margin-right: 19px;
}

.comment:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .comment{
  display: flex;
  margin-right: 0;
  }
}