.intro__facts {
  max-width: 383px;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  margin: 13px 0 92px;
  list-style-type: none;
  padding: 0;
}

@media (max-width: 768px) {
  .intro__facts {
    margin-top: 26px;
  }
}

@media (max-width: 375px) {
  .intro__facts {
    max-width: 343px;
    font-size: 12px;
    line-height: 18px;
    margin-top: 32px;
    margin-bottom: 54px;
  }
}

@media (max-width: 320px) {
  .intro__facts {
    margin-top: 50px;
    margin-bottom: 70px;
  }
}