.lead__caption {
  font-size: 10px;
  line-height: 12px;
  margin-top: 10px;
  text-align: start;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

@media (max-width: 768px) {
  .lead__caption{
   margin-left: 24px;
  }
}

@media (max-width: 375px) {
  .lead__caption{
   margin-left: 16px;
  }
}

