@import url('./__facts/intro__facts.css');
@import url('./__paragraph/intro__paragraph.css');
@import url('./__title/intro__title.css');
@import url('./__select-text/intro__select-text.css');
.intro {
  margin: 0 auto;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .intro {
    max-width: 928px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .intro {
    margin-left: 24px; 
  }
}

@media (max-width: 375px) {
  .intro {
    margin-left: 16px; 
    margin-right: 16px;
  }
}
