@import url('./_offset/content-subtitle_offset.css');
.content-subtitle {
  max-width: 640px;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  width: 98%;
}

@media (max-width: 768px) {
  .content-subtitle {
    width: 94%;
  }
}

@media (max-width: 600px) {
  .content-subtitle{
    font-size: 20px;
    line-height: 27px;
  }
}

@media (max-width: 375px) {
  .content-subtitle {
    max-width: 343px;
    font-size: 16px;
    line-height: 23px;
    width: 92%;
  }
}

@media (max-width: 320px) {
  .content-subtitle {
    max-width: 288px;
    width: 90%;
  }
}
