@import url('../../video-card/video-card.css');
.video__container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  color: white;
  margin-bottom: 112px;
  margin-left: auto;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .video__container {
    width: 98%;
  }
}

@media (max-width: 1024px) {
  .video__container {
    width: 90%;
    margin-left: auto;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .video__container {
    width: 94%;
    margin-bottom: 73px;
    margin-left: auto;
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  .video__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 375px) {
  .video__container {
    margin-bottom: 18px;
  }
}
